$bg-light: #FFF8FC;
$primary: #F5BCC1;
$dark: #3F0A29;


@import "../node_modules/bootstrap/scss/bootstrap";
.hero {
    height: 800px;
    background-color: #3F0A29;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .visit {
    background-image: url(../images/Screenshot\ 2025-12-02\ at\ 1.34.51\ PM.png);
    height: 500px;
    background-color: #3F0A29;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover

}